@charset "utf-8";
/* ==|== primary styles =====================================================
	Author: Kashif Jinn
   ========================================================================== */

/* generic classes begins */ 
* { margin:0; padding:0; outline:none; }
body{ margin:0; font-family:Arial; }
button, input, select, textarea { font-family:Arial; }
body { margin:0; }
b, strongb a { font-weight:bold !important; text-decoration:none;}
dfn { font-style: italic; }
a{ text-decoration:none; color:#4e4e4e;}
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
table, td { border-collapse:collapse; }
ul, li { list-style-type:none; }
span{ color:#000;}
/* ------- end --------- */

/* clearing floats */
.clearfix:after { content: "&nbsp;"; font-size:0; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display: inline-block }
.clearfix { display:block }
* html .clearfix { height: 1%; }
.clear { clear: both; }
a{ text-decoration:none; color:#000;}
/* headings */

/* ------- end --------- */

p {}
/******** end ********/
 img{ border:none; outline:none;}
.fLeft { float:left !important; }
.fRight { float:right !important; }
 img{ border:none; outline:none;}
 em{ color:#b9cada; font-size:14px; text-decoration:line-through; font-family:Arial, Helvetica, sans-serif;}




@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas___-webfont.woff') format('woff'),
         url('../fonts/bebas___-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




#wrapper{ width:100%; margin:0px;}
.header{ width:100%; margin:0px;  background:url(../images/headerBg.jpg) 0px 0px repeat-x; }
.headerInner{ max-width:1107px; margin: 0 auto;}
.headerOuterLft{ width:885px; margin:0px; padding:0px;}
.welcome{ margin:20px 0 0 70px;}
.welcome p{ font-size:14px; color:#2aa5cf; font-weight:bold;}
.inputOuter{  margin:14px 0 0 0px;}
.input{ width:411px;height:27px; line-height:27px; border:1px solid #2aa3ce; background-color:#FFF; font-size:12px; color:#9d9d9d; padding-left:10px;}
.inputButton{ width:65px; height:29px; background:url(../images/inputButton.jpg) 0px 0px no-repeat; cursor:pointer;}
.your{  margin:0px 0 15px 0; background-color:#FFF; padding:0 1px 0 1px;}
.display{  width:202px;  margin:0px; background-color:#febd21; padding:5px 0px;}
.display h3{ color:#464646; font-size:12px; margin:0px;  text-align:center;}
.ratio{ width:202px; background-color:#2aa3ce; padding:0px;}
.ratioBottom{ width:202px; background:url(../images/ratioButtomBg.png) 0px 0px no-repeat; height:13px; }
.wide{ width:180px; margin-left:10px;}
.wide p{ font-size:12px; color:#FFF; border-bottom:1px solid #2296bf; padding:7px 0 7px 10px;}
.wide p.none{ border-bottom:none;}
.logoOuter{ width:100%; margin:0px 0 15px 0;}
.logoInner{ max-width:1107px; margin: 0 auto;}
.logo{ margin:0px;}
.logo img{ margin:0px;}
.googleBanner{ width:734px; border:1px solid #cccccc; padding:2px;}
.googleBanner img{ margin:0px;}
.menuOuter{ width:100%;  background:url(../images/menuBg.jpg) 0px 0px repeat-x; line-height:43px;}
.menuInner{ max-width:1107px; margin: 0 auto;}
.menu{}
.menu ul{ padding:0px; margin:0px;}
.menu ul li{ list-style:none; background:url(../images/sprater.jpg)  center right no-repeat; float: left;}
.menu ul li a{ font-size:12px; color:#FFF; font-weight:bold; padding: 0 12px 0 12px;}
.menu ul li a:hover{ background:url(../images/hoverBg.jpg) 0px 0px repeat-x; color:#2aa3ce; padding: 16px 12px 14px 12px;}
.menu ul li a.active{ background:url(../images/hoverBg.jpg) 0px 0px repeat-x; color:#2aa3ce; padding: 16px 12px 14px 12px;}
.menu ul li.cl{ background:none;}
.bodyArea{ width:100%; margin:0px;}
.bodyInner{ max-width:1107px; margin: 0 auto;}
.lftBar{ width:785px; margin:0px;}
.rightBar{ width:312px; margin:20px 0 0 0;}
.categories{ width:194px; margin:0px;padding-top:20px;}
.by{ width:185px; margin:0px; padding:6px 5px 6px 5px; background-color:#2aa3ce;}
.byboxesImg{ margin:0px 10px 0 0;}
.bytext{}
.bytext p{ font-size:12px; font-weight:bold; color:#FFF;}
.bytext p a{ font-size:12px; font-weight:bold; color:#FFF;}
.threed{ width:185px; margin:0px 0 7px 0; padding:6px 5px 6px 5px; background-color:#febd21;}
.three{ }
.three p{ font-size:13px;  color:#000;}
.three p a{ font-size:13px;  color:#FFF;}
.alfa{ width:185px; }
.alfa ul{ padding:0px; margin:0px;}
.alfa ul li{ list-style-type:none; padding-bottom:8px;  float:left; width:194px;}
.alfa ul li img{ margin:0px 18px 0 0; float:left;}
.alfa ul li p { font-size:13px;  color:#373737; float:left; margin-top:5px; }
.alfa ul li p a{ font-size:13px;  color:#373737; }
.alfa ul li p a:hover{ color:#2aa3ce;}
.filter{ width:194px;  float:left; background-color:#0082b0;}
.filter h4{ color:#ffffff; font-size:14px; margin:0px; padding:10px 0 8px 13px; }
.resolation{ width:187px;margin:0px 0 20px 0; background-color:#2aa3ce; float: left; padding:20px 0 20px 7px;}
.resolationbutton{ width:82px; margin:0 7px 0 0px; background-color:#FFF;}
.resolationbutton a{ font-size:12px; color:#424242; padding:8px 0px; display:block; text-align:center;}
.resolationbutton a:hover{ background-color:#ddeff9; display:block;}
.resolationbutton2{ width:82px; margin:0 7px 0 0px; background-color:#febd21;}
.resolationbutton2 a{ font-size:12px; color:#424242; padding:8px 0px; display:block; text-align:center;}
.resolationbutton2 a:hover{ background-color:#ddeff9; display:block;}
.Resolutions{ width:194px;  float:left; margin-bottom:20px; background-color:#0082b0;}
.Resolutions h4{ color:#ffffff; font-size:14px; margin:0px; padding:10px 0 7px 13px; }

.hdwide{ width:170px; margin-left:5px; padding-bottom:10px; border-bottom:1px solid #5c5c5c; float:left;}
.hdwide ul{ padding:0px; margin:0px;}
.hdwide ul li{ list-style-type:none; padding-bottom:8px;  float:left; width:194px;}
.hdwide ul li img{ margin:0px 18px 0 0; float:left; width:15px; height:15px;}
.hdwide ul li p { font-size:13px;  color:#373737; float:left; line-height:15px; }
.hdwide ul li p a{ font-size:13px;  color:#373737; }
.hdwide ul li p a:hover{ color:#2aa3ce;}

.topwallpaper{ width:185px; margin:17px 0 17px 0; padding:6px 5px 6px 5px; background-color:#febd21; float:left;}
.byboxesImg{ margin:0px 10px 0 0;}
.bytext{}
.bytext p{ font-size:12px; font-weight:bold; color:#FFF;}
.bytext p a{ font-size:12px; font-weight:bold; color:#FFF;}

.beautiful{ width:194px;   float:left;}
.beautiful ul{ padding:0px; margin:0px;}
.beautiful ul li{ list-style-type:none; padding-bottom:5px;  float:left; width:194px;  border-bottom:1px solid #eaeaea;}
.beautiful ul li img{ margin:7px 10px 7px 0; float:left; width:63px; height:47px;}
.beautiful ul li p { font-size:12px;  color:#373737; float:left; font-weight:bold; line-height:inherit; margin-top:5px; margin-bottom:3px; }
.beautiful ul li p a{ font-size:12px;  color:#373737; }
.beautiful ul li p a:hover{ color:#2aa3ce;}
.star{  }
.star ul{ padding:0px; margin:0px;}
.star ul li{ list-style-type:none; width:10px; height:10px; float:left; border-bottom:none;}
.star ul li img{  float:left; width:10px; height:10px;}
.bannerOuter{ width:579px; margin:0px;  margin: 20px 0 10px 0px;}
.banner{ margin-bottom:14px;}
.banner img{ margin:0px;}
.boxer{}
.boxer h2{ font-size:19px; color:#2aa3ce; padding-bottom:10px;}
.boxer p{ font-size:12px; color:#373737; margin-bottom:15px;}
.recentpostOuter{ width:579px; }
.recentpost{ width:567px; margin:0px 0 20px 0; border:1px solid #e8e8e8; border-right:none; }
.recentbutton{ background:url(../images/recentpostbutton.png) 0px 0px no-repeat; }
.recentbutton a{ font-size:14px; font-weight:bold; color:#FFF; padding:11px 0 0 15px; width:154px; height:27px; display:block;}
.recentbutton a:hover{  background:url(../images/recentpostbutton-hover.png) 0px 0px no-repeat;  display:block;}

.socialButton{ float:right; width:115px; margin:11px 0 0 0px; }
.socialButton ul{ padding:0px; margin:0px;}
.socialButton ul li{ list-style-type:none; width:16px; height:16px; margin:0 2px 0 3px; float:left; border-bottom:none;}
.chrismis{width:579px; margin:0px; }
.chrismisBox{ width:180px; margin:0px 0 0px 13px;}
.chrismisBox:first-child{ margin-left:0px;}
.chrismisBox img{ margin-bottom:10px;}
.chrismisBox h5{ font-size:12px; color:#2aa3ce; padding-bottom:10px;}
.chrismisBox p{ font-size:11px; color:#818282; padding-bottom:10px;}

.youCanLogin{ width:297px; margin:0px 0 0 0; background:#febd21; padding:15px 0 15px 15px;}
.youCanLogin h4{ font-size:14px; color:#424242;}
.login{ width:272px; margin:0px 0 10px 0; background:#2aa3ce; padding:20px 20px 20px 20px;}
.username{ width:259px; margin:0px 0 15px 0; height:35px; background:url(../images/userNameBg.jpg) 0px 0px repeat-x; border:none; outline: none; line-height:35px; padding-left:15px; font-size:14px; color:#aeaeae;}
.loginButton{ width:63px; margin:0 20px 0 0px; background-color:#febd21;}
.loginButton a{ font-size:14px; color:#454545; padding:8px 0px; display:block; text-align:center;}
.loginButton a:hover{ background-color:#ddeff9; display:block;}
.signup{ width:63px; margin:0 7px 0 0px; background-color:#0082b0;}
.signup a{ font-size:12px; color:#fff; padding:8px 0px; display:block; text-align:center;}
.signup a:hover{ background-color:#ddeff9; display:block; color:#000;}
.addChoices{ width:308px; color:#000; border:1px solid #dddddd; float:left; margin-bottom:15px;}
.addChoices img{}
.addborder{ width:309px; border-bottom:4px solid #2aa3ce; height:7px; float:left;}
.findus{ width:310px; margin:0px 0 15px 0;}
.findlft{}
.findlft h3{ font-size:15.7px; margin:0px;  font-family: 'bebasregular'; color:#333333; text-transform:uppercase;}
.findright{   }
.findright img{height:14px; width:100%; margin:5px 0 0 0px;}
.fbicon{ width:302px; margin:0px 0 15px 0; border:1px solid #c0c0c0; padding: 2px 4px 2px 4px;}
.fbicon img{ width:100%; margin:0px;}

.findus02{ width:310px; margin:0px 0 15px 0;}
.findlft02{}
.findlft02 h3{ font-size:15.7px; margin:0px;  font-family: 'bebasregular'; color:#333333; text-transform:uppercase;}
.findright02{   }
.findright02 img{height:14px; width:100%; margin:5px 0 0 0px;}
.socialIcone{ width:280px; margin:0px 0 15px 0; border:2px solid #36b8ea; border-radius:4px; padding:15px 15px;}
.socialIcone a{ width:35px; height:35px; display:block; float:left;margin-right:20px;}
.socialIcone a:first-child{ margin-left:0px;}

.findus03{ width:310px; margin:0px 0 15px 0;}
.findlft03{}
.findlft03 h3{ font-size:15.7px; margin:0px;  font-family: 'bebasregular'; color:#333333; text-transform:uppercase;}
.findright03{   }
.findright03 img{height:14px; width:100%; margin:5px 0 0 0px;}

.sweetmessage{ width:302px; margin:0px 0 15px 0; border:1px solid #c0c0c0; padding: 5px 4px 5px 4px;}
.sweetmessage img{ width:100%; margin:0px;}

.findus04{ width:310px; margin:0px 0 15px 0;}
.findlft04{}
.findlft04 h3{ font-size:15.7px; margin:0px;  font-family: 'bebasregular'; color:#333333; text-transform:uppercase;}
.findright04{   }
.findright04 img{height:14px; width:100%; margin:5px 0 0 0px;}

.news{ width:310px; margin:0px 0 10px 0; border:1px solid #c0c0c0; padding:10px 0 0 0px;}
.newsIn{ width:310px; margin:0px 0 0 8px;}
.newsIn ul{ padding:0px 0 0 0px; margin:0px 0 0 0px;}
.newsIn ul li{ list-style:none; float:left;  margin-bottom:10px; margin:0 7px 10px 7px; }
.newsIn ul li img{ width:55px; border:2px solid #eaeaea;}
.addborder02{ width:310px; border-bottom:4px solid #2aa3ce; height:7px; float:left;}
.footer{ width:100%; margin:0px; background:url(../images/footerBg.jpg) 0px 0px repeat-x; }
.footerInner{ width:1107px; margin: 0 auto;}
.footerlogo{}
.footerlogo img{ margin:35px 0 35px 0;}
.footerMenu{ background:url(../images/footerBgNavi.jpg) 0px 0px repeat-x; height:40px; }
.footerMenu ul{ padding:0px; margin:0px;}
.footerMenu ul li{ list-style:none; background:url(../images/sprater.jpg) center right no-repeat; float: left; line-height:40px;}
.footerMenu ul li a{ font-size:12px; color:#FFF; font-weight:bold; padding: 0 12px 0 12px;}
.footerMenu ul li a:hover{ background:url(../images/hoverBg.jpg) 0px 0px repeat-x; color:#2aa3ce;padding:13px 12px 11px 12px;
} 
.footerMenu ul li a.active{ background:url(../images/hoverBg.jpg) 0px 0px repeat-x; color:#2aa3ce;  padding:13px 12px 11px 12px;
}
.footerMenu ul li.cl{ background:none;}
.postbottom{ width:566px; padding:5px 0 5px 0; background-color:#febd21; float:left; margin:10px 0 10px 0px;}
.peginate{ width:255px; float:right; margin:0 85px 0 0px;}
.jPaginate{ margin:0 100px 0 0px;}
.jPaginate a{ font-size:15px !important; color:#FFF !important;}
.jPaginate a:hover{ background-color:#2aa3ce !important; }
span.jPag-sprevious, span.jPag-sprevious-img {